body {
    width: 99%;
    background-color: rgb(250, 227, 18);
  }
  
  #header {
    margin-bottom: -200px
  }

  #burgersDiv {
    width: 100%;
  }

  h1 {
    color: #f30;
    font-size: 60px;
    margin-top: 3%;
    font-family: 'Righteous', cursive;
  }

  h2 {
    margin-left: 3%;
    color: #f30;
    font-family: 'Righteous', cursive;
    font-size: 25px
    
  }

  img {
    height: 30%
  }

  p {
    font-size: 20px;
    font-family: 'Righteous', cursive;
    color: #f30;
  }

  .col-1 {
    margin-top: 2%
  }

  .col-2 {
    margin-top: 2%
  }

  .devour-button {
    background: #f30;
    border-color: rgb(53, 26, 10);
    font-family: 'Righteous', cursive;
  }

  #input-container {
    width: 40%;
  }

  #input-text {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 20px;
    font-family: 'Righteous', cursive;
  }

  #ordered-list {
    font-family: 'Righteous', cursive;
    margin: auto;
  }

  .order-button {
    background: #f30;
    border-color: rgb(53, 26, 10);
    font-family: 'Righteous', cursive;
    font-size: 20px;
  }
  
  #consumer-input {
    width: 90%
  }

  @media (min-width: 1200px) {
    .container {
      width: 990px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 990px;
    }
  }
  
